// Body header ภาษาไทย : DB Helvethaica X 63 Medium Ext
@font-face {
      font-family: 'webfont-med';
      src: url("../../../../fonts/PSLKittithadaProBold.eot");
      src: url("../../../../fonts/PSLKittithadaProBold.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSLKittithadaProBold.woff") format("woff"), url("../../../../fonts/PSLKittithadaProBold.ttf") format("truetype"), url("../../../../fonts/PSLKittithadaProBold.svg") format("svg");
      font-weight: normal;
      font-style: normal;
}

// Body content ภาษาไทย : DB Helvethaica X 55 Regular
@font-face {
    font-family: 'webfont-regular';
    src: url("../../../../fonts/PSLKittithadaPro.eot");
    src: url("../../../../fonts/PSLKittithadaPro.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSLKittithadaPro.woff") format("woff"), url("../../../../fonts/PSLKittithadaPro.ttf") format("truetype"), url("../../../../fonts/PSLKittithadaPro.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

