/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
@font-face {
  font-family: 'webfont-med';
  src: url("../../../../fonts/PSLKittithadaProBold.eot");
  src: url("../../../../fonts/PSLKittithadaProBold.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSLKittithadaProBold.woff") format("woff"), url("../../../../fonts/PSLKittithadaProBold.ttf") format("truetype"), url("../../../../fonts/PSLKittithadaProBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'webfont-regular';
  src: url("../../../../fonts/PSLKittithadaPro.eot");
  src: url("../../../../fonts/PSLKittithadaPro.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSLKittithadaPro.woff") format("woff"), url("../../../../fonts/PSLKittithadaPro.ttf") format("truetype"), url("../../../../fonts/PSLKittithadaPro.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* note : for IE8,7 need css3pie helper*/
#page-academy .campaign-wrapper {
  display: none; }

.academy-article-wrapper {
  position: relative;
  display: block;
  margin-top: -125px; }
  .academy-article-wrapper .grid-wrapper .grid {
    *zoom: 1;
    width: 100%;
    position: relative;
    background-color: #000; }
  .academy-article-wrapper .grid-wrapper .tile {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
    -moz-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
    -o-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
    -ms-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
    transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995); }
    .academy-article-wrapper .grid-wrapper .tile img {
      width: 120%; }
    .academy-article-wrapper .grid-wrapper .tile.loaded {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
    .academy-article-wrapper .grid-wrapper .tile .link-area {
      display: block;
      position: absolute;
      top: 0;
      z-index: 1;
      left: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      background-color: #000;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -webkit-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -moz-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -o-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -ms-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995); }
    .academy-article-wrapper .grid-wrapper .tile .background {
      display: block;
      width: 100%;
      -webkit-transition: all 500ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -moz-transition: all 500ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -o-transition: all 500ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -ms-transition: all 500ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      transition: all 500ms cubic-bezier(0.335, 0.015, 0.46, 0.995); }
    .academy-article-wrapper .grid-wrapper .tile .caption-outer {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
    .academy-article-wrapper .grid-wrapper .tile .caption-inner {
      display: table;
      width: 100%;
      height: 100%;
      padding: 0 10%; }
    .academy-article-wrapper .grid-wrapper .tile .caption {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      width: 100%;
      text-decoration: none; }
      .academy-article-wrapper .grid-wrapper .tile .caption h2 {
        font-weight: 300;
        line-height: 34px; }
      .academy-article-wrapper .grid-wrapper .tile .caption p {
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 20px; }
      .academy-article-wrapper .grid-wrapper .tile .caption.center {
        text-align: center; }
      .academy-article-wrapper .grid-wrapper .tile .caption.left {
        text-align: left; }
      @media screen and (max-width: 767px) {
        .academy-article-wrapper .grid-wrapper .tile .caption h2 {
          font-size: 30px;
          line-height: 30px;
          margin: 0;
          margin-bottom: 10px; }
        .academy-article-wrapper .grid-wrapper .tile .caption p {
          margin-bottom: 10px; } }
    .academy-article-wrapper .grid-wrapper .tile .btn-video {
      display: inline-block;
      margin: auto;
      color: #999;
      background-color: rgba(255, 255, 255, 0.75); }
      .academy-article-wrapper .grid-wrapper .tile .btn-video .btn-play {
        font-size: 34px;
        margin: 15px;
        background-color: transparent; }
      .academy-article-wrapper .grid-wrapper .tile .btn-video p {
        font-size: 18px;
        line-height: 26px;
        margin: 0; }
    .academy-article-wrapper .grid-wrapper .tile .btn-email {
      padding-left: 55px;
      margin-bottom: 20px;
      background-image: url("../../../../Images/icons/icon-mail.fw.png");
      background-repeat: no-repeat;
      background-position: left center; }
      .academy-article-wrapper .grid-wrapper .tile .btn-email h3 {
        color: #fff;
        font-size: 30px;
        line-height: 34px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0; }
      .academy-article-wrapper .grid-wrapper .tile .btn-email .btn-mail {
        color: #fff;
        font-size: 26px;
        line-height: 34px;
        font-weight: 300;
        background-color: transparent; }
  .academy-article-wrapper .grid-wrapper .tile-block-1 {
    height: 0;
    width: 50%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper .tile-block-2 {
    height: 0;
    width: 50%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper .tile-block-3 {
    height: 0;
    width: 25%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper .tile-block-4 {
    height: 0;
    width: 50%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper .tile-block-5 {
    height: 0;
    width: 25%;
    padding-bottom: 25%; }
  @media screen and (max-width: 959px) {
    .academy-article-wrapper .grid-wrapper .tile-block-1 {
      width: 100%;
      padding-bottom: 50%; }
    .academy-article-wrapper .grid-wrapper .tile-block-2 {
      width: 66.66%;
      padding-bottom: 33.3%; }
    .academy-article-wrapper .grid-wrapper .tile-block-3 {
      width: 33.33%;
      padding-bottom: 33.33%; }
    .academy-article-wrapper .grid-wrapper .tile-block-4 {
      width: 50%;
      padding-bottom: 25%; }
    .academy-article-wrapper .grid-wrapper .tile-block-5 {
      width: 50%;
      padding-bottom: 25%; } }
  @media screen and (max-width: 767px) {
    .academy-article-wrapper .grid-wrapper .tile-block-1 {
      width: 100%;
      padding-bottom: 50%;
      margin-bottom: 10px; }
    .academy-article-wrapper .grid-wrapper .tile-block-2 {
      width: 100%;
      padding-bottom: 50%;
      margin-bottom: 10px; }
    .academy-article-wrapper .grid-wrapper .tile-block-3 {
      width: 100%;
      padding-bottom: 50%;
      margin-bottom: 10px; }
    .academy-article-wrapper .grid-wrapper .tile-block-4 {
      width: 100%;
      padding-bottom: 50%;
      margin-bottom: 10px; }
    .academy-article-wrapper .grid-wrapper .tile-block-5 {
      width: 100%;
      padding-bottom: 50%;
      margin-bottom: 10px; } }
  .academy-article-wrapper .grid-wrapper #tile-0, .academy-article-wrapper .grid-wrapper #tile-1, .academy-article-wrapper .grid-wrapper #tile-2, .academy-article-wrapper .grid-wrapper #tile-3, .academy-article-wrapper .grid-wrapper #tile-4, .academy-article-wrapper .grid-wrapper #tile-5, .academy-article-wrapper .grid-wrapper #tile-6, .academy-article-wrapper .grid-wrapper #tile-7, .academy-article-wrapper .grid-wrapper #tile-8, .academy-article-wrapper .grid-wrapper #tile-9, .academy-article-wrapper .grid-wrapper #tile-10 {
    height: 0; }
  .academy-article-wrapper .grid-wrapper #tile-1,
  .academy-article-wrapper .grid-wrapper #tile-6 {
    width: 50%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper #tile-2,
  .academy-article-wrapper .grid-wrapper #tile-7 {
    width: 50%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper #tile-3,
  .academy-article-wrapper .grid-wrapper #tile-8 {
    width: 25%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper #tile-4,
  .academy-article-wrapper .grid-wrapper #tile-9 {
    width: 50%;
    padding-bottom: 25%; }
  .academy-article-wrapper .grid-wrapper #tile-5,
  .academy-article-wrapper .grid-wrapper #tile-10 {
    width: 25%;
    padding-bottom: 25%; }
  @media screen and (max-width: 1199px) {
    .academy-article-wrapper .grid-wrapper #tile-1,
    .academy-article-wrapper .grid-wrapper #tile-6 {
      width: 50%;
      padding-bottom: 25%; }
    .academy-article-wrapper .grid-wrapper #tile-2,
    .academy-article-wrapper .grid-wrapper #tile-7 {
      width: 50%;
      padding-bottom: 25%; }
    .academy-article-wrapper .grid-wrapper #tile-3,
    .academy-article-wrapper .grid-wrapper #tile-8 {
      width: 25%;
      padding-bottom: 25%; }
    .academy-article-wrapper .grid-wrapper #tile-4,
    .academy-article-wrapper .grid-wrapper #tile-9 {
      width: 75%;
      padding-bottom: 25%; }
    .academy-article-wrapper .grid-wrapper #tile-5,
    .academy-article-wrapper .grid-wrapper #tile-10 {
      width: 50%;
      padding-bottom: 25%; } }
  @media screen and (max-width: 959px) {
    .academy-article-wrapper .grid-wrapper #tile-1,
    .academy-article-wrapper .grid-wrapper #tile-6 {
      width: 100%;
      padding-bottom: 50%; }
    .academy-article-wrapper .grid-wrapper #tile-2,
    .academy-article-wrapper .grid-wrapper #tile-7 {
      width: 66.66%;
      padding-bottom: 33.3%; }
    .academy-article-wrapper .grid-wrapper #tile-3,
    .academy-article-wrapper .grid-wrapper #tile-8 {
      width: 33.33%;
      padding-bottom: 33.33%; }
    .academy-article-wrapper .grid-wrapper #tile-4,
    .academy-article-wrapper .grid-wrapper #tile-9 {
      width: 50%;
      padding-bottom: 25%; }
    .academy-article-wrapper .grid-wrapper #tile-5,
    .academy-article-wrapper .grid-wrapper #tile-10 {
      width: 50%;
      padding-bottom: 25%; } }
  @media screen and (max-width: 767px) {
    .academy-article-wrapper .grid-wrapper #tile-0, .academy-article-wrapper .grid-wrapper #tile-1, .academy-article-wrapper .grid-wrapper #tile-2, .academy-article-wrapper .grid-wrapper #tile-3, .academy-article-wrapper .grid-wrapper #tile-4, .academy-article-wrapper .grid-wrapper #tile-5, .academy-article-wrapper .grid-wrapper #tile-6, .academy-article-wrapper .grid-wrapper #tile-7, .academy-article-wrapper .grid-wrapper #tile-8, .academy-article-wrapper .grid-wrapper #tile-9, .academy-article-wrapper .grid-wrapper #tile-10 {
      width: 100%;
      padding-bottom: 50%;
      margin-bottom: 25px; } }
  @media screen and (max-width: 999px) {
    .academy-article-wrapper {
      margin-top: 0; } }
