/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
@font-face {
  font-family: 'webfont-med';
  src: url("../../../../fonts/PSLKittithadaProBold.eot");
  src: url("../../../../fonts/PSLKittithadaProBold.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSLKittithadaProBold.woff") format("woff"), url("../../../../fonts/PSLKittithadaProBold.ttf") format("truetype"), url("../../../../fonts/PSLKittithadaProBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'webfont-regular';
  src: url("../../../../fonts/PSLKittithadaPro.eot");
  src: url("../../../../fonts/PSLKittithadaPro.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSLKittithadaPro.woff") format("woff"), url("../../../../fonts/PSLKittithadaPro.ttf") format("truetype"), url("../../../../fonts/PSLKittithadaPro.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* note : for IE8,7 need css3pie helper*/
.campaign-wrapper {
  display: none; }

.faq-wrapper {
  margin-top: 25px; }
  .faq-wrapper .search-wrapper select {
    color: #293D69; }
  .faq-wrapper .grid-wrapper {
    margin-top: 25px; }
    .faq-wrapper .grid-wrapper .grid {
      display: block;
      /*float: left;*/
      margin-bottom: 25px;
      position: relative;
      overflow: hidden;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      -webkit-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -moz-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -o-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -ms-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995); }
    .faq-wrapper .grid-wrapper .caption-outer {
      display: block;
      padding: 40px 20px;
      background-color: #666; }
      .faq-wrapper .grid-wrapper .caption-outer.red {
        background-color: #00AC4A; }
      .faq-wrapper .grid-wrapper .caption-outer.grey {
        background-color: #666; }
      .faq-wrapper .grid-wrapper .caption-outer.blue {
        background-color: #293D69; }
    .faq-wrapper .grid-wrapper .caption-inner {
      display: table;
      width: 100%;
      height: 100%;
      padding: 0; }
    .faq-wrapper .grid-wrapper .caption {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      width: 100%;
      text-decoration: none; }
      .faq-wrapper .grid-wrapper .caption.center {
        text-align: center; }
      .faq-wrapper .grid-wrapper .caption.left {
        text-align: left; }
    .faq-wrapper .grid-wrapper .title {
      font-size: 30px;
      font-weight: 300;
      line-height: 34px;
      margin: 0; }
    .faq-wrapper .grid-wrapper p {
      font-weight: 300;
      line-height: 30px;
      margin: 0;
      margin-bottom: 20px; }
    .faq-wrapper .grid-wrapper .icon-wrapper {
      margin: 0;
      margin-bottom: 20px; }
  @media screen and (max-width: 999px) {
    .faq-wrapper {
      margin-top: 0; }
      .faq-wrapper .grid-wrapper {
        margin-top: 0; } }

.faq-wrapper .faq-list-wrapper {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 70px; }
  .faq-wrapper .faq-list-wrapper .max-width-wrapper {
    background-color: #fff; }

.faq-wrapper .list-group {
  padding: 0;
  margin-bottom: 25px; }
  .faq-wrapper .list-group .title-main {
    margin: 0;
    font-size: 30px;
    line-height: 45px;
    color: #00AC4A; }
  .faq-wrapper .list-group .list-group-item {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 0;
    border: none;
    border-top: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent; }
    .faq-wrapper .list-group .list-group-item .list-group-head {
      height: auto;
      padding: 15px 25px 10px 25px;
      border: none;
      background-color: #fff;
      cursor: pointer; }
      .faq-wrapper .list-group .list-group-item .list-group-head > div {
        height: auto;
        padding: 0;
        margin: 0;
        line-height: 45px; }
        .faq-wrapper .list-group .list-group-item .list-group-head > div h3 {
          position: relative;
          max-width: 90%;
          min-height: 50px;
          padding-left: 0;
          margin: 0;
          font-size: 26px;
          line-height: 45px;
          color: #999; }
        .faq-wrapper .list-group .list-group-item .list-group-head > div a {
          position: absolute;
          top: 0px;
          left: 10px;
          height: 25px;
          color: #999;
          text-decoration: none;
          vertical-align: middle;
          line-height: 23px; }
        .faq-wrapper .list-group .list-group-item .list-group-head > div .icn-circle {
          position: absolute;
          top: 10px;
          right: 0;
          font-size: 30px;
          color: #293D69;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -pie-border-radius: 50%;
          behavior: url(pie/PIE.htc);
          background-color: #fff; }
          .faq-wrapper .list-group .list-group-item .list-group-head > div .icn-circle.fa-stack {
            width: 29px;
            height: 29px; }
            .faq-wrapper .list-group .list-group-item .list-group-head > div .icn-circle.fa-stack .fa-stack-2x {
              font-size: 16px;
              line-height: 29px; }
      .faq-wrapper .list-group .list-group-item .list-group-head.active {
        border-bottom: none;
        background-color: #293D69; }
        .faq-wrapper .list-group .list-group-item .list-group-head.active > div h3 {
          color: #fff; }
        .faq-wrapper .list-group .list-group-item .list-group-head.active > div a {
          color: #fff; }
    .faq-wrapper .list-group .list-group-item .active > div {
      padding: 0;
      margin: 0;
      line-height: 45px; }
    .faq-wrapper .list-group .list-group-item .list-group-content {
      display: none;
      height: auto;
      padding: 0;
      border: none;
      border-top: none;
      text-align: left;
      background-color: #EAEBEC; }
      .faq-wrapper .list-group .list-group-item .list-group-content.opened {
        display: block; }
    .faq-wrapper .list-group .list-group-item .answer-wrapper {
      width: 100%;
      min-height: 50px;
      padding: 20px 25px; }
      .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor {
        padding: 0;
        margin-bottom: 22px;
        font-size: 22px;
        line-height: 34px; }
        .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor h1, .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor h2, .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor h3 {
          margin-top: 0; }
        .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor p {
          font-size: 22px;
          line-height: 34px; }
        .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ul {
          list-style-type: disc;
          list-style-position: outside;
          padding-left: 20px;
          margin: 10px 0 15px 0; }
          .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ul li {
            font-size: 22px;
            line-height: 34px;
            color: #999; }
            .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ul li li {
              color: #999; }
            .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ul li span {
              font-size: 22px;
              line-height: 34px;
              color: #999; }
        .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ol {
          list-style-type: decimal;
          list-style-position: outside;
          padding: 0;
          padding-left: 20px;
          margin: 10px 0 15px 0; }
          .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ol li {
            font-size: 22px;
            line-height: 34px;
            color: #999; }
            .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ol li li {
              color: #999; }
            .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor ol li span {
              font-size: 22px;
              line-height: 34px;
              color: #999; }
        .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor table {
          margin: 10px 0; }
          .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor table thead tr th, .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor table thead tr td {
            padding: 5px !important;
            border: 1px solid #ccc; }
          .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor table tbody tr th, .faq-wrapper .list-group .list-group-item .answer-wrapper .text-editor table tbody tr td {
            padding: 5px !important;
            border: 1px solid #ccc; }

@media screen and (max-width: 767px) {
  .faq-wrapper .faq-list-wrapper {
    padding: 0;
    margin-bottom: 30px; }
    .faq-wrapper .faq-list-wrapper .max-width-wrapper {
      padding: 0 20px; }
  .faq-wrapper .list-group {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0; }
    .faq-wrapper .list-group .list-group-item .list-group-head {
      padding-left: 0;
      padding-right: 0; }
      .faq-wrapper .list-group .list-group-item .list-group-head > div h3 {
        max-width: 85%;
        font-size: 26px;
        line-height: 26px; } }

.question-wrapper {
  margin-top: 25px; }
  .question-wrapper h3.title {
    color: #293D69;
    text-align: center; }
  .question-wrapper .form-wrapper {
    margin-top: 25px; }
    .question-wrapper .form-wrapper .form-control {
      margin-bottom: 20px; }
