.mod_tab-content{
	&.side-tab{
		>.header{
			float: left;
			.btn-2stage{
				display: block;
			}
		}
		>.content{
			float: left;
		}
	}
	>.header{

	}
	>.content{
		.tab-content{
			display: none;
			&.show{
				display: block;
			}
		}

	}
}