.main-slider {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;

    /*@media screen and (max-width: $screen-sm-max) {
       margin-bottom: 30px;
    }*/
}

.slider-container {
    position: relative;
    display: none;

    img {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        vertical-align: top;

        @media screen and (max-width: $screen-xs-max) {
            width: 120%;
        }
    }
}

.slider-controller{
  position: absolute;
  z-index: 1;
  top: 55px;
  margin: 0;
  width: 100%;

  @media screen and (max-width: $screen-sm-max){
      top: 20px;
  }

  @media screen and (max-width: $screen-xs-max){
    position: relative;
    top: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}

#foo_pager {
    position: relative;
    z-index: 10;
    float: left;
    width: auto;
    font-size: 13px;
    top: 0;
    right: 0;

    span.pager_list {
        /*float: left;*/
        /*display: block;*/
        display: inline-block;
        margin-right: 5px;
        width: 15px;
        height: 15px;

        > a {
            display: block;
            width: 15px;
            height: 15px;
            @include round-corner(50%);
            background-color: $color-text;
        }

        &.selected a {
            background-color: $color-secondary;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        width: 100%;
    }
}
a#foo_prev:link, a#foo_next:link{
  color: #222;
}
a#foo_prev:hover, a#foo_prev:visited, a#foo_next:hover, a#foo_next:visited{
  color: #000;
}
#foo_prev{
  display: inline-block!important;
  &>.foo_prev.-box{
    text-decoration: none;
    min-height: 27px;
    min-width: 27px;
    display: inline-block;
    background: url("../../../images/bg/bg-slide-controller.png");
    text-align: center;
    font-weight: 100;
    padding-top: 5px;
    float: left;
  }
}
#foo_next{
  display: inline-block!important;
  &>.foo_next.-box{
    text-decoration: none;
    min-height: 27px;
    min-width: 27px;
    display: inline-block;
    background: url("../../../images/bg/bg-slide-controller.png");
    text-align: center;
    padding-top: 5px;
    padding-left: 2px;
    float: left;
  }
}

// @media (max-width: 1280px){
//   	#foo_pager{
// 		top: 19%;
// 	}
// }

// @media (max-width: 1024px){
//   	#foo_pager{
// 		top: 18%;
// 	}
// }

// @media (max-width: 980px){
//   #foo_pager{
// 		top: 18%;
// 	}
// }

// @media (max-width: 800px){
//   #foo_pager{
// 		top: 22%;
// 	}
// }

// @media (max-width: 768px){
//   #foo_pager{
// 		top: 22%;
// 	}
// }

// @media (max-width: 360px){
//   #foo_pager{
// 		top: 6%;
// 	}
// }

// @media #{$mobile} {
// 	.slider-controller{
// 		display: none;
// 	}
// }

// @media #{$tablet} {
// 	.slider-controller{
// 		display: none;
// 	}
// }
